doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/simplePagination.css')
        link(rel='stylesheet', href='/stylesheets/colorbox.css')
        link(rel='stylesheet', href='/stylesheets/sweetalert.css')
        script(src='/javascripts/jquery-1.10.2.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/jquery.simplePagination.js')
        script(type="text/javascript", src="/javascripts/jquery.colorbox.min.js")
        script(src='/javascripts/jstz.js')
        script(src='/javascripts/geofancy.js')
        script(type="text/javascript", src="/javascripts/sweetalert.min.js")  
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js')          
    body
        include header
        block content
    script
      | $(document).ready(function () {
      |   setTimeout(function () {
      |     if ($.cookie('legacyAlertShown')) {
      |       return;
      |     }
      |     swal({html:true, title:'Geofancy is now Locative', text:'Geofancy has re-branded as Locative,  and it\s getting better! Please use <a href="https://my.locative.io">https://my.locative.io</a> from now on, thank you!'});
      |     $.cookie('legacyAlertShown', true);
      |   }, 500);
      | });
